# Ignore by default
* linguist-detectable=false

# Allow only the files we want counted
*.py linguist-detectable=true
*.html linguist-detectable=true
*.htm linguist-detectable=true
*.csv linguist-detectable=false
*.txt linguist-detectable=true
README.md linguist-detectable=true
LICENSE linguist-detectable=true
.todo linguist-detectable=true