# By default, prevent files from being counted by Linguist
* linguist-detectable=false

# Allow these specific file types to be detected normally
*.py linguist-detectable=true
*.html linguist-detectable=true
*.htm linguist-detectable=true
*.csv linguist-detectable=true
*.txt linguist-detectable=true
README.md linguist-detectable=true
LICENSE linguist-detectable=true
